.webring {
  background-color: black;
  position: fixed;
  z-index: 1000000;
  bottom: 0;
  font-family: courier;
  width: 100vw;
}

.webring p {
   transform: rotate(0);
  text-align: center;
    font-family: courier;
font-size: 1vw;
}

.webring a {
  color: red;
  background-color: white;
    font-family: courier;
border-bottom: 0;
}

body {
background-image: url('https://cdn.glitch.global/c57819d7-4459-4571-abe1-a283447155e3/105881346-illustration-vectorielle-de-mignon-crabe-mer-animal-fond.jpeg?v=1648452013547');
background-size: 15vw;
margin: 0;
  padding: 0;
}

#ruta1 {
  border: 4px solid blue;
}

.bild {
width: 50vw; margin: 0 25vw;
transform: rotate(-15deg);
box-shadow: 2px 5px 5px 5px rgba(255, 0, 255, 0.8);
}

a {
  text-decoration: none;
  background-color: red;
  border-bottom: 10px dotted green;
  color: pink;
  font-family: arial;

}




p {
  background-color: white;
 transform: rotate(5deg);
}

.woop {
    font-family: 'Palette Mosaic', cursive;
font-size: 4em;
}



h1 {
  font-size: 13vw;
  font-family: 'Palette Mosaic', cursive;
  line-height: 1em;
  position: fixed;
  z-index: 1000;
  color: yellow;
  mix-blend-mode: difference;
}



/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  body {
background-size: 150vw;


  }
  
  .bild {
width: 80vw; margin: 0 10vw;
  }
  
p {
  background-color: yellow;
  font-size: 5vw;
}
  
  
}